.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.description {
  width: 357px;
  margin:103px 72px 2rem 111px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.description h1 {
  font-size: 60px;
  line-height: 70px;
}

.description p {
  color: #9C9696;
}

.description .priece {
  font-size: 40px;
}

.description .cta {
  width: 274px;
  height: 90px;
  color: #FFF;
  background-color: red;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: .3s;
}

.description .cta:hover {
  opacity: 0.6;
}

.product {
  height: 900px;
  width: 914px;
  background-color: #C4C4C4;
  margin-top: -109px; /* Navbar height */
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slide {
  display: flex;
  justify-content: space-between;
  padding: 5px 18px 40px;
  gap: 37px;
}

.slide span {
  overflow: visible !important;
  position: relative;
}

.slide span::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 4px;
  width: 100%;
  z-index: 1111;
}

.slide span:hover::after {
  background-color: red;
}